<html lang="en" class="homepage">
  <h1>Task 1: REACTIVE LOGIN FORM</h1>
  <nav class="navigates">
    <a class="button" routerLink="/homepage" routerLinkActive="activebutton"
      >HOME PAGE</a
    >
    <a class="button" routerLink="/loginpage" routerLinkActive="activebutton"
      >LOGIN PAGE</a
    >
    <a class="button" routerLink="/signup" routerLinkActive="activebutton"
      >SIGNUP PAGE</a
    >
    <a class="button" routerLink="/about" routerLinkActive="activebutton"
      >ABOUT PAGE</a
    ><br />
  </nav>
  <br />
  <router-outlet></router-outlet>
</html>
